{% extends 'base.html' %}
{% load static %}
<title>{% block title %} Admin Page {% endblock %}</title>
    {% block extra_css %}
        <style>
        /* Reset some default styles */
        body, h1, p, ul {
            margin: 0;
            padding: 0;
        }

        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
        }

        .form-group {
            margin: 10px 0;
        }

        .form-group label {
            display: block;
            font-weight: bold;
        }

        .form-group input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.4);
            padding-top: 50px;
        }

        .modal-content {
            background-color: #fefefe;
            margin: 5% auto;
            padding: 20px;
            border: 1px solid #888;
            max-width: 400px;
            max-height: 80vh;
            overflow-y: auto; /* Make it scrollable when content exceeds */
        }

        .form-group {
            margin: 10px 0;
            max-height: 350px;
            overflow-y: auto;  /* Allow scrolling for each section */
        }

        .form-group label {
            display: block;
            font-weight: bold;
        }

        .form-group input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        /* Close button */
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
        }

        .action-buttons {
            display: flex;
        }

        .action-buttons button {
            margin: 0 5px;
            padding: 5px 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .action-buttons button.edit {
            background-color: #062A63;
            color: #fff;
        }

        .action-buttons button.edit:hover {
            background-color: #2980b9;
        }

        .action-buttons button.delete {
            background-color: #062A63;
            color: #fff;
        }

        .action-buttons button.delete:hover {
            background-color: #2980b9;
        }

        #form-div {
            display: none;
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        #form-div h3 {
            margin: 0 0 10px;
            font-size: 18px;
        }
        .h {
    
            justify-content: center;
            margin-left: 70px;
        }

        .h::before {
            content: ""; /* Add empty content */
            position: absolute; /* Position relative to the .h element */
            margin-top: 10%; /* Place the line vertically in the middle of the .h element */
            left: 0; /* Adjust left position as needed */
            width: 100%; /* Set line width to cover the entire .h element */
            height: 1px; /* Set line height */
            background-color: black; /* Set line color */
        }

        .report-table th, .report-table td {
            border: 1px solid #062A63;
            padding: 8px;
            text-align: center;
        }

        .report-table th {
            background-color: #062A63;
            color: #ecf0f1;
        }
        
        th, td {
            border: 1px solid #ccc;
            padding: 8px;
            text-align: left;
           
        }
        th {
            color: #f2f2f2;
            background-color: #062A63;
        }
        tr:nth-child(even) {
            background-color: #f9f9f9;
        }
        
        .no-results {
            font-style: italic;
            color: #888;
        }

         /* Popup message styles */
        .popup {
            position: fixed;
            bottom: 10px;
            left: 50%;
            transform: translateX(-50%);
            background-color: #f44336;
            color: white;
            text-align: center;
            border-radius: 20px;
            padding: 16px;
            z-index: 999;
            display: none; /* Initially hidden */
        }

        .show {
            display: block; /* Show the popup when needed */
        }


    </style>
    {% endblock %}

{% block content %}
<div class="sameline">
    <button id="addButton">+</button>
    <div style="text-align: right; margin: -10px; margin-right: 70px;">
    <form method="get" style="display: inline-block;">
        <input 
            type="text" 
            name="search_description" 
            placeholder="Search description..." 
            value="{{ request.GET.search_description }}"
            style="padding: 8px; width: 250px; border: 1px solid #ccc; border-radius: 5px;"
        >
        <button type="submit" style="padding: 8px 15px; background-color: #062A63; color: #fff; border: none; border-radius: 5px;">
            Search
        </button>
    </form>
</div>
</div>

   <div id="myModal" class="modal">
  <div class="modal-content">
    <h2 class="h">Add Data</h2>
    <form id="addForm" method="post" action="{% url 'Image_pro' %}" class="form-group">
      {% csrf_token %}
      <input type="hidden" name="record_id" value="{{ record_id }}">
      
      <div class="form-group">
        <label for="image_process_select">Image Processing </label>
        <select name="image_process" id="image_process_select" class="form-control"  required>
          <option value="">-- Select Operation --</option>
          {% for option in dropdown_options %}
          <option value="{{ option }}"
            {% if option == selected_option %}selected{% endif %}
          >
            {{ option }}
          </option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group">
        <label>Description Of Text </label>
        {{ form.description_of_text }}
      </div>

      <div class="action-buttons">
        <button type="submit" class="edit">Save</button>
        <button type="reset" class="delete">Cancel</button>
      </div>

      {% if form.errors %}
        <ul style="color: red;">
          {% for field in form %}
            {% for error in field.errors %}
              <li>{{ field.label }}: {{ error }}</li>
            {% endfor %}
          {% endfor %}
        </ul>
      {% endif %}
    </form>
  </div>
</div>

<!-- js 1 -->
 

    <table class="data-table">
        <thead>
            <tr>
                <th>Sr. No.</th>
                <th>Image Process</th>
                <!-- <th>No. Of Char</th> -->
                <!-- <th>Position Of Text</th> -->
                <!-- <th>Variable</th> -->
                <th>Description Of Text</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for index, item in data.items %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ item.image_process }}</td>
                    <!-- <td>{{ item.no_of_char }}</td> -->
                    <!-- <td>{{ item.position_of_text }}</td> -->
                    <!-- <td>{{ item.variable }}</td> -->
                    <td>{{ item.description_of_text }}</td>
                    <td>
                        <a href="{% url 'Image_pro_edit' item.pk %}" class="action-buttons" style="color: #062A63; font-size: 20px;">Edit</a>
                    </td>
                    <td>
                         <a href="{% url 'Image_pro_delete' item.pk %}" class="delete-link action-buttons" style="color: red; font-size: 20px;">Delete</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="8">No data available.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <div class="footer">
        <p onclick="document.getElementById('contactModal').style.display='block'">Contact</p>
    </div>
    <div id="contactModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="document.getElementById('contactModal').style.display='none'">×</span>
            <img src="{% static 'images/mainlogo.jpg' %}" alt="Logo">
            <br>
            <p>Sandeep Bhadkamkar</p>
            <p><i class="fas fa-phone"></i> 9890033285</p>
            <p><i class="fas fa-globe"></i>  <a href="http://www.automationteknix.com" target="_blank">www.automationteknix.com</a></p>
            <p><i class="fas fa-envelope"></i> <a href="mailto:sandeep@automationteknix.com">sandeep@automationteknix.com</a></p>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    {% if messages %}
    <!-- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> -->
    <script>
        // Function to display flash messages using SweetAlert
        function displayFlashMessages() {
            {% for message in messages %}
            Swal.fire({
                icon: "{{ message.tags }}",
                text: "{{ message }}"
            });
            {% endfor %}
        }

        // Call the function to display flash messages after the page has loaded
        window.addEventListener('DOMContentLoaded', function() {
            displayFlashMessages();
        });
    </script>
    {% endif %}

    <script>

const addButton = document.getElementById('addButton');
        const modal = document.getElementById('myModal');
        const closeModal = document.querySelector('.close');
        const cancelBtn = document.querySelector('.delete');

        addButton.addEventListener('click', () => {
            modal.style.display = 'block';
        });

        closeModal.addEventListener('click', () => {
            modal.style.display = 'none';
        });

        cancelBtn.addEventListener('click', () => {
            modal.style.display = 'none';
            // Redirect back to the original page
            window.location.href = "{% url 'Image_pro' %}";
        });

        const editPlatopen = '{{ edit_Plat_open }}';

        if (editPlatopen) {
            modal.style.display = 'block';
        }

        // Function to handle clicks outside the modal
        window.addEventListener('click', function(event) {
            if (event.target === modal) {
                modal.style.display = 'none';
                window.location.href = "{% url 'Image_pro' %}";
            }
        });
        cancelBtn.addEventListener('click', () => {
    // Redirect back to the original page
    window.location.href = "{% url 'Image_pro' %}";
});

        
    </script>
    <script>
document.addEventListener("DOMContentLoaded", function() {
    const deleteLinks = document.querySelectorAll(".delete-link");

    deleteLinks.forEach(link => {
        link.addEventListener("click", function(event) {
            event.preventDefault();
            const url = this.href;

            Swal.fire({
                title: 'Are you sure?',
                text: "This record will be permanently deleted.",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Redirect to the delete URL after confirmation
                    window.location.href = url;
                }
            });
        });
    });
});
</script>

    
<script>
  {% comment %} document.addEventListener("DOMContentLoaded", function() {
    // add required attributes dynamically
    document.querySelector('[name="image_process"]').required = true;
    document.querySelector('[name="no_of_char"]').required = true;
    document.querySelector('[name="position_of_text"]').required = true;
    document.querySelector('[name="variable"]').required = true;
    document.querySelector('[name="description_of_text"]').required = true;
  }); {% endcomment %}
  document.querySelector('[name="image_process"]').required = true;
document.querySelector('[name="description_of_text"]').required = true;

</script> <!-- js 1-->

{% endblock %}
